[layout] {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

[layout=column] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

[layout=row] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
[layout-align="center"],
[layout-align="center center"],
[layout-align="center start"],
[layout-align="center end"] {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

[layout-align="end"],
[layout-align="end center"],
[layout-align="end start"],
[layout-align="end end"] {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

[layout-align="space-around"],
[layout-align="space-around center"],
[layout-align="space-around start"],
[layout-align="space-around end"] {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

[layout-align="space-between"],
[layout-align="space-between center"],
[layout-align="space-between start"],
[layout-align="space-between end"] {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

[layout-align="space-evenly"],
[layout-align="space-evenly center"],
[layout-align="space-evenly start"],
[layout-align="space-evenly end"] {
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
}

[layout-align="center center"],
[layout-align="start center"],
[layout-align="end center"],
[layout-align="space-between center"],
[layout-align="space-around center"],
[layout-align="space-evenly center"] {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

[layout-align="center start"],
[layout-align="start start"],
[layout-align="end start"],
[layout-align="space-between start"],
[layout-align="space-around start"],
[layout-align="space-evenly start"] {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

[layout-align="center end"],
[layout-align="start end"],
[layout-align="end end"],
[layout-align="space-between end"],
[layout-align="space-around end"],
[layout-align="space-evenly end"] {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
